/*-------------
    Box-Sizing
--------------*/

.selector-for-some-widget {
    box-sizing: content-box;
}


/*------------
    Fonts
--------------*/

* {
    font-family: 'Noto Serif Malayalam', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #595959;
}

.h1 {
    font-size: 36px;
}


/*-------------------
    Button primary
--------------------*/

.btn-primary {
    width: 280px;
    height: 40px;
    border: none;
    font-weight: 700;
    background-color: #6FA2B4;
    padding: 0;
    margin: auto;
}

.btn-primary.v2 {
    width: 120px;
    height: 40px;
}

.btn-primary.v3 {
    width: 65px;
    height: 26px;
}

.btn-primary:hover,
.btn-primary:active:focus {
    background-color: #6391a2 !important;
}


/*-------------------
    Button secondary
--------------------*/

.btn-secondary {
    width: 280px;
    height: 40px;
    border: 1px solid lightgray;
    color: #595959;
    font-weight: 700;
    background-color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:active:focus {
    color: #595959 !important;
    border: 1px solid lightgray !important;
    background-color: #eeeeee !important;
}


/*-----------
Sign up / Login
-------------*/

.signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


/*--------------
   Form Input
---------------*/

.signup .form-control {
    font-size: 16px;
    color: #595959;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}


/* Focus */

.signup .form-control:focus {
    border-bottom: 1px solid #595959;
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* AutoFill */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #595959;
    -webkit-box-shadow: 0 0 0 30px white inset;
}


/*------------------
   Ingredient list
-------------------*/


/* Checkbox label position */

.custom-control.custom-checkbox {
    padding-left: 0;
}

label.custom-control-label {
    position: relative;
    padding-top: 4px;
    padding-right: 1.5rem;
    margin: 8px;
}

label.custom-control-label::before,
label.custom-control-label::after {
    right: 0;
    left: inherit;
    top: 8px;
}


/* Checkbox style */

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    background-color: white;
    border-color: lightgray !important;
    box-shadow: none !important;
}

.custom-control-input:checked~.custom-control-label::before,
.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: lightgray;
    border-color: gray !important;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='gray' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}


/*------------
    Icons 
-------------*/

span[class^="icon"] {
    font-size: 30px;
}

span[class^="icon"]::before {
    vertical-align: middle;
}


/*-----------
   ---or---
------------*/

h2.line {
    width: 30%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 10px auto;
}

h2.line span {
    background: #fff;
    padding: 0 10px;
    color: #ccc;
}


/*-----------
  Sidebar
-----------*/

.sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 50px);
    margin-top: 85px;
    background-color: white;
    position: absolute;
}

.sidebar ul {
    position: relative;
    top: 10px;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
}

.sidebar li {
    background-color: white;
    transition: 0.3s;
}

.sidebar a {
    text-decoration: none;
    color: #595959;
    display: block;
    font-size: 18px;
}

.sidebar a:hover {
    color: #595959;
    font-weight: bold;
}

.sidebar li:hover {
    background-color: #eeeeee !important;
}