html,
body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app_content {
    flex: 1;
}


/*-------------
    Box-Sizing
--------------*/

.selector-for-some-widget {
    box-sizing: content-box;
}


/*------------
    Fonts
--------------*/

* {
    /*font-family: 'Noto Serif Malayalam', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #595959;
}

.h1 {
    font-size: 36px;
}


/*-------------
   Loading
---------------*/

.loading {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}


/*-------------------
    Button primary
--------------------*/

.btn-primary {
    width: 280px;
    height: 40px;
    border: none;
    font-weight: 700;
    background-color: #6FA2B4;
    padding: 0;
}

.btn-primary.v2 {
    width: 120px;
    height: 40px;
}

.btn-primary.v3 {
    width: 65px;
    height: 26px;
}

.btn-primary:hover,
.btn-primary:active:focus {
    background-color: #6391a2 !important;
}


/*-------------------
    Button secondary
--------------------*/

.btn-secondary {
    width: 280px;
    height: 40px;
    border: 1px solid lightgray;
    color: #595959;
    font-weight: 700;
    background-color: #ffffff;
    padding: 0;
}

.btn-secondary.v2 {
    width: 120px;
    height: 40px;
}

.btn-secondary:hover,
.btn-secondary:active:focus {
    /*color: #595959;
    border: 1px solid lightgray !important;
    background-color: #eeeeee !important;*/
}


/*-------------
    Checkbox
--------------*/

.dropdown-item:hover {
    background: #fff;
}


/* Checkbox label position */

.icon-caret-right {
    cursor: pointer;
}

.custom-control-label {
    padding-top: 4px;
    margin: 4px 0 4px 0;
}

.x .custom-control-label::before,
.x .custom-control-label::after {
    left: 220px;
    top: 8px;
}

.filter .custom-control-label::before,
.filter .custom-control-label::after {
    left: 210px;
    top: 8px;
}


/* Checkbox style */

.custom-control-input~.custom-control-label {
    cursor: pointer;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    background-color: white;
    border-color: lightgray !important;
    box-shadow: none !important;
}

.custom-control-input:checked~.custom-control-label::before,
.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: lightgray;
    border-color: gray !important;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='gray' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}


/*------------
   Arrow
-------------*/

.icon-caret-right {
    cursor: pointer;
}

.arrow {
    display: inline-block;
    transition: 0.15s ease-in-out;
}


/*-------------
    Divider
--------------*/

h2.line1 {
    border-bottom: 1px solid #a3a3a3;
    margin: px auto;
}

h2.line2 {
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 2px auto;
}


/*-------------
Sign up / Login
---------------*/

.signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.signup a {
    color: #6FA2B4;
    text-decoration: underline;
}

.signup .link {
    margin-top: 30px;
}


/* Fail/succes classes */

small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-group {
    position: relative;
    height: 102px;
    margin-bottom: 0;
}

.form-group i {
    position: absolute;
    top: 45px;
    right: 15px;
    visibility: hidden;
}

.signup .form-group.success input {
    border-width: 2px;
    border-color: #2ecc71;
}

.signup .form-group.success i.icon-check-2 {
    color: #2ecc71;
    visibility: visible;
}

.form-group.error input {
    border-width: 2px;
    border-color: #e74c3c;
}

.form-group.error i.icon-exclamation-2,
.form-group.error small {
    color: #e74c3c;
    visibility: visible;
}


/*--------------
   Form Input
---------------*/

.basic-input {
    font-size: 16px;
    color: #595959;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.custom-control-inline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/* Focus */

.basic-input:focus {
    border-bottom: 1px solid #595959;
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* AutoFill */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #595959;
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
}


/*------------
    Icons 
-------------*/

span[class^="icon"] {
    font-size: 30px;
}

span[class^="icon"]::before {
    vertical-align: middle;
}


/*-----------
   ---or---
------------*/

h2.line {
    width: 30%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 10px auto;
}

h2.line span {
    background: #fff;
    padding: 0 10px;
    color: #ccc;
}


/*-----------
  Search
-----------*/

span.icon-magnifying-glass {
    font-size: 19px;
    border-radius: 20px;
    transition: 0.5s;
}

span.icon-magnifying-glass::before {
    vertical-align: middle;
}

.icon-magnifying-glass:hover {
    color: black;
}

.search-button,
.search-input {
    border: none;
    border-radius: 20px;
}

.search-input {
    padding-right: 0;
}

.search {
    background-color: white;
    padding: 0;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 4px 0 #777;
    -moz-box-shadow: 0 2px 4px 0 #777;
    box-shadow: 0 2px 4px 0 #777;
}

.search-button:focus,
.search-input:focus {
    outline: none;
}


/*---------------
     Account
----------------*/

.account {
    padding: 20px
}

.account .right-side {
    padding-top: 30px;
}


/*---------------
    Transitions
----------------*/


/* fade */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}


/* slide-l */

.slide-l-enter-active,
.slide-l-leave-active {
    transition: transform 0.4s ease;
}

.slide-l-enter,
.slide-l-leave-to {
    transform: translateX(-100%);
    transition: all 300ms ease-in 0s
}


/* slide-r */

.slide-r-enter-active,
.slide-r-leave-active {
    transition: transform 0.4s ease;
}

.slide-r-enter,
.slide-r-leave-to {
    transform: translateX(100%);
    transition: all 300ms ease-in 0s
}