html,
body {
    position: relative;
    min-height: 100%;
}

#app {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px;
    /* height of your footer */
}


/*-------------
    Box-Sizing
--------------*/

.selector-for-some-widget {
    box-sizing: content-box;
}


/*------------
    Fonts
--------------*/

* {
    font-family: 'Noto Serif Malayalam', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #595959;
}

.h1 {
    font-size: 36px;
}


/*-------------------
    Button primary
--------------------*/

.btn-primary {
    width: 280px;
    height: 40px;
    border: none;
    font-weight: 700;
    background-color: #6FA2B4;
    padding: 0;
    margin: auto;
}

.btn-primary.v2 {
    width: 120px;
    height: 40px;
}

.btn-primary.v3 {
    width: 65px;
    height: 26px;
}

.btn-primary:hover,
.btn-primary:active:focus {
    background-color: #6391a2 !important;
}


/*-------------------
    Button secondary
--------------------*/

.btn-secondary {
    width: 280px;
    height: 40px;
    border: 1px solid lightgray;
    color: #595959;
    font-weight: 700;
    background-color: #ffffff;
}

.btn-secondary.v2 {
    width: 120px;
    height: 40px;
}

.btn-secondary:hover,
.btn-secondary:active:focus {
    /*color: #595959;
    border: 1px solid lightgray !important;
    background-color: #eeeeee !important;*/
}


/*-------------
Sign up / Login
---------------*/

.signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


/*--------------
   Form Input
---------------*/

.basic-input {
    font-size: 16px;
    color: #595959;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.custom-control-inline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/* Focus */

.basic-input:focus {
    border-bottom: 1px solid #595959;
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* AutoFill */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #595959;
    -webkit-box-shadow: 0 0 0 30px white inset;
}


/*------------
    Icons 
-------------*/

span[class^="icon"] {
    font-size: 30px;
}

span[class^="icon"]::before {
    vertical-align: middle;
}


/*-----------
   ---or---
------------*/

h2.line {
    width: 30%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 10px auto;
}

h2.line span {
    background: #fff;
    padding: 0 10px;
    color: #ccc;
}


/*-----------
  Search
-----------*/

span.icon-magnifying-glass {
    font-size: 19px;
    border-radius: 20px;
    transition: 0.5s;
}

span.icon-magnifying-glass::before {
    vertical-align: middle;
}

.icon-magnifying-glass:hover {
    color: black;
}

.search-button,
.search-input {
    border: none;
    border-radius: 20px;
}

.search-input {
    padding-right: 0;
}

.search {
    background-color: white;
    padding: 0;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 4px 0 #777;
    -moz-box-shadow: 0 2px 4px 0 #777;
    box-shadow: 0 2px 4px 0 #777;
}

.search-button:focus,
.search-input:focus {
    outline: none;
}


/*---------------
     Account
----------------*/

.account {
    padding: 20px
}

.account .right-side {
    padding-top: 30px;
}


/*---------------
     Transitions
----------------*/

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* slide-l */
.slide-l-enter-active,
.slide-l-leave-active {
  transition: transform 0.4s ease;
}

.slide-l-enter,
.slide-l-leave-to {
  transform: translateX(-100%);
  transition: all 300ms ease-in 0s
}

/* slide-r */
.slide-r-enter-active,
.slide-r-leave-active {
  transition: transform 0.4s ease;
}

.slide-r-enter,
.slide-r-leave-to {
  transform: translateX(100%);
  transition: all 300ms ease-in 0s
}